# Archivos de respaldo
*~
.*.kate-swp #kate
.*.swp #VIM

# Archivo de configuración de la personalización del comportamiento del directorio para KDE
.directory
 
# Bootstrap
app/bootstrap*
 
# Symfony directories
vendor/*
*/logs/*
*/cache/*
web/uploads/*
web/bundles/*
 
# Configuration files
#app/config/parameters.ini
app/config/parameters.yml


#Composer
composer.lock
composer.phar

# Carpeta nbproject de NetBeans
nbproject/*
